---
layout: pagebase
---

@using Pretzel.Logic.Extensibility.Extensions;
@using Pretzel.SethExtensions;

@{
    string unitName = Model.Bag["unitName"].ToString();
    string ipfsUrl = Model.Bag["ipfsUrl"].ToString();
    int width = int.Parse( Model.Bag["width"].ToString() );
    int height = int.Parse( Model.Bag["height"].ToString() );
    ulong round = ulong.Parse( Model.Bag["round"].ToString() );
    ulong assetId = ulong.Parse( Model.Bag["assetId"].ToString() );
    string creationTxId = Model.Bag["creationTxId"].ToString();
    string soldTxId = Model.Bag["soldTxId"].ToString();

    string relUrl = $"/static/bettas/{unitName}.jpg";
    string absUrl = $"{Model.Site.Config["url"].ToString().TrimEnd('/')}{relUrl}";

    string buyUrl = $"/buy/index.html?assetid={assetId}";

    string ccString = "CC BY-ND 4.0";
    string ccUrl = "https://creativecommons.org/licenses/by-nd/4.0/";
}

<article id="maincontents" class="blog-post">
    <header>
        <div class="lead-image">
            <img class="img-responsive" src="@relUrl" alt="@unitName"/>
        </div>
    </header>
    <div class="body">
        <h1>@Model.Page.Title</h1>
        <div class="meta">
            <i class="fa fa-user"></i> @Model.Page.GetAuthor()
            <i class="fa fa-calendar"> @Model.Page.Date.ToString( "MMM dd yyyy" )</i>
            @if( string.IsNullOrWhiteSpace( soldTxId ) )
            {
                <a href="@buyUrl"><i class="fa fa-shopping-cart"></i>Buy NFT</a>
            }
            else
            {
                <a href="@ccUrl" target="_blank" rel="noopener noreferrer nofollow">
                    <img src="/static/img/cc_by_nd_88x31.png" alt="Licensed under @ccString"/>
                </a>
            }
        </div>
        <div id="pagecontents">
            <h2>NFT Information</h2>
            <ul>
                <li><strong>Asset ID: </strong> <a href="https://algoexplorer.io/asset/@assetId" target="_blank" rel="noopener noreferrer nofollow">@assetId</a></li>
                <li><strong>Unit Name:</strong> @unitName</li>
                <li><strong>IPFS Url:</strong> @ipfsUrl</li>
                <li><strong>Round NFT Created: </strong> <a href="https://algoexplorer.io/block/@round" target="_blank" rel="noopener noreferrer nofollow">@round</a></li>
                <li><strong>Creation TX ID:</strong> <a href="https://algoexplorer.io/tx/@creationTxId" target="_blank" rel="noopener noreferrer nofollow">@creationTxId</a></li>
                @if( string.IsNullOrWhiteSpace( soldTxId ) == false )
                {
                    <li><strong>Sold TX ID:</strong> <a href="https://algoexplorer.io/tx/@soldTxId" target="_blank" rel="noopener noreferrer nofollow">@soldTxId</a></li>
                }
            </ul>

            @if( string.IsNullOrWhiteSpace( soldTxId ) == false )
            {
                <p>NFT was sold!  This image is therefore <a href="@ccUrl" target="_blank" rel="noopener noreferrer nofollow">@ccString</a> for everyone!  Thank you to the buyer!</p>
            }
            else
            {
                <p>NFT is for sale!  When someone buys it, the image's copyright becomes <a href="@ccUrl" target="_blank" rel="noopener noreferrer nofollow">@ccString</a> for everyone!</p>
                <p><a href="@buyUrl"><i class="fa fa-shopping-cart"></i> Buy NFT</a></p>
            }
        </div>
    </div>
</article>

<hr/>

<nav id="posts-nav" style="display: flex; justify-content: space-around;">
    <div>
        @if( Model.Previous != null )
        {
            <a href="@Model.Previous.Url" title="Previous Post: @Model.Previous.Title">&larr; @Model.Previous.Title</a>
        }
    </div>
    <div>
        @if( Model.Next != null )
        {
            <a href="@Model.Next.Url" title="next Post: @Model.Next.Title">@Model.Next.Title &rarr; </a>
        }
    </div>
</nav>

@if( Model.Page.Tags.Any() )
{
    <asid id="tags" class="clearfix">
        <h2>Tagged as:</h2>
        <ul class="tags">
        @foreach( string tag in Model.Page.Tags )
        {
            <li><a href="/tag/@SlugifyFilter.Slugify( tag )/">@tag</a></li>
        }
        </ul>
    </asid>
}

@if( Model.Comments )
{
    <h2>Comments:</h2>
    <aside id="comments" class="comments">
        <a href="http://disqus.com" class="dsq-brlink" target="_blank" rel="noopener noreferrer nofollow">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = '@Model.Site.Config["url"].ToString()@Model.Page.Url';
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://bettadelic.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </aside>
}
